.card {
  width: 120px;
  height: 120px;
  font-size: 22px;
  color: #000;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  transition: transform 0.4s ease, opacity 1s ease;
}
.card.hide {
  transform: scale(0);
  opacity: 0;
}

.card.disabled {
  opacity: 0.3;
}

.front,
.back {
  cursor: pointer;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 0.4s ease;

  background: #c4c4c4;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  transform: perspective(600px) rotateY(0deg);
}

.back {
  transform: perspective(600px) rotateY(180deg);
  background-color: #f1f1f1;
}
.card.active > .front {
  transform: perspective(600px) rotateY(-180deg);
}
.card.active > .back {
  transform: perspective(600px) rotateY(0deg);
}

@media screen and (max-width: 1000px) {
  .card {
    width: 110px;
    height: 110px;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 95px;
    height: 95px;
    font-size: 18px;
  }
}

@media screen and (max-width: 460px) {
  .card {
    width: 80px;
    height: 80px;
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 70px;
    height: 70px;
    font-size: 14px;
  }
}
